/* screen - iphone-11-pro-x-profile */
.mango-profile-cover-info {
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 20px;
  justify-content: space-evenly;
  margin-left: 41px;
  min-height: 10px;
  position: relative;
  width: 90px;
  margin-top: auto;
}
/*TODO: Make followers private! so only you could see who is following you!*/
.mango-profile-cover-info-box {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 42px;
  justify-content: space-between;
  min-width: 346px;
  position: relative;
  width: auto;
}
.mango-profile-cover-followers {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 21px;
  position: relative;
  text-align: left;
  width: 106px;
}
.mango-profile-cover-following {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 21px;
  position: relative;
  text-align: left;
  width: 106px;
}
#mango-profile-cover-box {
  position: relative;
  margin: auto;
}
#mango-profile-cover {
  align-items: flex-end;
  background-color: var(--black-2);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 199px;
  /*justify-content: flex-start;*/
  overflow: hidden;
  padding: 4.0px 9.0px;
  position: relative;
  margin: auto;
  width: 375px;
}

 /* TODO: Create a pop up modal function taht allows the user to reposition the cover photo and focus on whatever part of the photo, so I don't have to worry about finding the best fit ...'*/
.mango-profile-cover-photo {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 134px;
  position: relative;
  width: 353px;
  object-fit: cover;
  margin-top: 0.35em;
  display: flex;
}
.mango-profile-cover-name {
  position: relative;
  margin-top: auto;
}

.mango-profile-icons-bar{
  max-width: 375px;
  position: relative;
  margin: auto;

}
.mango-profile-icons{
  position: relative;
  width: 9em;
  display: flex;
  margin-top: 0.5em;
  margin-left: 17.5em;
}
.mango-profile-icon-add{
  position: relative;
  margin-right: 0.7em;
}
.mango-profile-icon-add-people{
  position: relative;
}
.mango-profile-icon-gallery{
  position: relative;
  margin-left: 0.7em;
}

#mango-profile-post-create-container{
  position: relative;
  width: 375px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 1em;
}

#mango-profile-post-create-textarea {
  position: relative;
  width: 250px;
  height: 60px;
  border-radius: 10px;
  font-size: 1.1em;
  color: white;
  background: rgba(0,0,0, 0.2);
  border-color: rgb(170,140,44);
  padding: 0.5em;
}

#mango-profile-post-create-submit {
  position: relative;
  font-size: 20px;
  max-width: 4.1em;
  margin-left: 0.5em;
  margin-top: -2em;
  background: rgba(170,140,44, 0.5);
}


