.iphone-11-pro-x .login-header {
  width: 100%;
  height: 15rem;
  position: relative;
  margin-top: 2rem;
}
.iphone-11-pro-x .sign-up-with-OxrrSj {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 22px;
  position: relative;
  text-align: center;
  width: 123px;
}
.iphone-11-pro-x .login-button-separator {
  background-color: transparent;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  text-align: center;
  width: 220px;
}
.login-mango-form {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.iphone-11-pro-x .g-oath-RH0WJ5 {
  align-items: center;
  background-color: rgba(229,229,229,0.2);
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 38px;
  justify-content: flex-start;
  margin-left: -10px;
  overflow: hidden;
  padding: 4.9px 12px;
  position: relative;
  width: 242px;
}






.iphone-11-pro-x .google201-gperiod-1-OxrrSj {
  align-items: flex-start;
  align-self: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 27px;
  justify-content: flex-start;
  margin-left: 11px;
  overflow: hidden;
  position: relative;
  width: 80px;
}
.iphone-11-pro-x .vector-j5tZqK {
  background-color: transparent;
  flex-shrink: 1;
  height: 21px;
  margin-left: 0px;
  margin-top: -0.23px;
  position: relative;
  width: 20px;
}
.iphone-11-pro-x .overlap-group2-j5tZqK {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 14px;
  margin-left: 0px;
  margin-top: 0.69px;
  position: relative;
  width: 29px;
}
.iphone-11-pro-x .vector-fxDdQu {
  background-color: transparent;
  height: 14px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 15px;
}
.iphone-11-pro-x .vector-L9OufT {
  background-color: transparent;
  height: 14px;
  left: 15px;
  position: absolute;
  top: 0px;
  width: 14px;
}
.iphone-11-pro-x .vector-2exuDX {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: 20px;
  margin-bottom: 0.26px;
  margin-left: 0px;
  position: relative;
  width: 13px;
}
.iphone-11-pro-x .vector-x5hCTx {
  background-color: transparent;
  flex-shrink: 1;
  height: 20px;
  margin-left: 0px;
  margin-top: 0.44px;
  position: relative;
  width: 4px;
}
.iphone-11-pro-x .vector-kB2ba9 {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 14px;
  margin-left: 0px;
  margin-top: 0.69px;
  position: relative;
  width: 13px;
}
