/* screen - iphone-11-pro-x-profile-gallery */

.mango-gallery-icon-pic-add {
  background-color: transparent;
  margin: auto;
  position: relative;
}
.mango-tabular-title-box {
  background-color: transparent;
  height: auto;
  line-height: normal;
  min-height: 37px;
  position: relative;
  text-align: center;
  width: 355px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-left: 0.7em;
  padding-right: 0.7em;
}

.mango-profile-gallery-title {
  position: relative;
}
