@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

.title {
    font-family: "Open Sans";
}
.title h1{
    color: var(--primary);
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-weight: normal;
}
.title h2, .title p{
    text-align: center;
}
.title h2{
    margin-top: 60px;
    font-size: 2.6rem;
}

#pic_upload .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.5);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* TODO: Customize the pop-up so it works well on mobile and different resolutions */

#preview-uploaded-pic{
    position: absolute;
    top: 11%;
    text-align: center;
}

#preview-uploaded-pic-frame {
    position: relative;
    width: 100%;
    padding-bottom: 82.5%;
    background: black;
}

#previewPic {
    width: 50%;
    height: auto;
}