.container {
    margin: 0 auto;
    max-width: 820px;
    min-width: 820px;
    width: 90%;
    height: 100%;
}
@media only screen and (min-width: 601px) {
    .container {
        width: 85%;
    }
}
@media only screen and (min-width: 993px) {
    .container {
        width: 70%;
    }
}

nav, .navbar-fixed {
    height: 50px;
    line-height: 50px;
}