.feed-page-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    /*background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);*/
    background-color: var(--celtic-2);
}

.left-pane {
    width: 15%;
    height: 100%;
    float: left;
    background: none;
    border-collapse: collapse;
}

.mango-post-list {
    width: 70%;
    height: auto;
    float: left;
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    background: rgba(0,0,0,0.05);
}

.right-pane {
    width: 15%;
    height: 100%;
    position: relative;
    float: right;
    border-collapse: collapse;
}

/*==========================MONGO-POST========================== */
.mangoPost{
    height: auto;
    min-height: 340px;
    margin: 10px;
    background-image: linear-gradient(120deg, rgba(194,233,251,0.5) 0%, rgba(127,255,212,0.5) 100%);
    border-radius: 5.5px;
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px;
}

.text-box{
    position: absolute;
    top: 40px;
    height: 60px;
    background-color: white;
    left: 130px;
    right: 5%;
    border-radius: 5px;
}

.text-area{
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
}

.post-date{
    position: absolute;
    top: 5px;
    right: 35px;
    font-size: 15px;
    color: white;
}
.post-owner-title{
    font-size: 19px;
    text-align: center;
    color: white;
}

.post-avatar-img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 29px;
}

.post-usr-box{
    position: absolute;
    left: 2%;
    top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post-comment-container {
    /*position: absolute;*/
    /*top: 120px;*/
    /*left: 130px;*/
    /*right: 5%;*/
    /*height: 180px;*/
    /*width: 475px;*/
    /*background: rgba(176, 196, 222, 0.35);*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*overflow-y: hidden;*/
    /*border-radius: 10px;*/
    align-items: flex-start;
    align-self: flex-end;
    background-color: var(--celtic-3);
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    height: 74px;
    justify-content: flex-start;
    margin-right: 4.0px;
    margin-top: 10px;
    overflow: hidden;
    padding: 3px 0;
    position: relative;
    width: 288px;
}

.post-comment-container::-webkit-scrollbar-track {
    border: none;
    padding: 2px 0;
    background: rgba(240, 248, 255, 0.3);
}

.post-comment-container::-webkit-scrollbar {
    width: 10px;
}

.post-comment-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.01);
    background-color: rgba(240, 255, 255, 0.6);
    border: none;
}

.post-comment-box {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    width: 447px;
    height: 70px;
    display: flex;
    flex-direction: row;
}

.post-comment-avatar{
    width: 60px;
    height: 60px;
    background-color: ivory;
    border-radius: 17px;
}

.post-comment-text-box{
    background-color: white;
    margin-left: 10px;
    width: 367px;
    border-radius: 7px;
}
.show-more {
    bottom: 10px;
    margin-left: 50%;
    margin-right: 50%;
    position: absolute;
    background: none;
    cursor: pointer;
    border: none;
    color: white;
}


/*==========================MONGO-POST-END==========================*/
.avatar-box {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 47px;
}