.feed-page-container{
    width: 100%;
    height: 100%;
}

.left-pane {
    width: 15%;
    height: 100%;
    float: left;
    background-color: white;
    border-collapse: collapse;
}

.mango-post-list {
    width: 70%;
    height: auto;
    float: left;
    background-color: royalblue;
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
}

.right-pane {
    width: 15%;
    height: 100%;
    position: relative;
    float: right;
    background-color: white;
    border-collapse: collapse;
}

/*==========================MONGO-POST==========================*/
.mangoPost{
    height: 300px;
    margin: 10px;
    background-color: purple;
    border-radius: 5.5px;
    position: relative;
}

.text-box{
    position: absolute;
    top: 40px;
    height: 60px;
    background-color: white;
    left: 130px;
    right: 5%;
}

.text-area{
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
}

.post-date{
    position: absolute;
    top: 5px;
    right: 11px;
    font-size: 15px;
    color: white;
}
.post-owner-title{
    font-size: 19px;
    text-align: center;
    color: white;
}

.post-avatar-img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 29px;
}

.post-usr-box{
    position: absolute;
    left: 2%;
    top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post-reply-container {
    position: absolute;
    top: 120px;
    left: 130px;
    height: 160px;
    width: 475px;
    background-color: deepskyblue;
}
/*==========================MONGO-POST-END==========================*/
